<div class="row">
  <div class="col-md-10">
    <h2>Parcels</h2>
  </div>
  <div class="col-md-2 mt-2 d-flex">
    <% if current_user.parcel_owner? %>
      <%= link_to 'New Parcel', new_parcel_path, class: "btn btn-primary" %>
    <%end%>

    <% if current_user.post_master? %>
      <%= link_to 'Book Train', new_train_booking_path, class: 'btn btn-primary', id: 'book_train' %><br>
      <!-- <span id='available_trains'></span> -->
    <%end%>
  </div>
</div>

<%= render 'parcels', parcels: @parcels %>
