<tr>
  <th scope="col">Name</th>
  <td><%= train.name %></td>
</tr>
<tr>
  <th scope="col">Weight Capacity</th>
  <td><%= train.weight_capacity %></td>
</tr>
<tr>
  <th scope="col">Volume</th>
  <td><%= train.volume_capacity %></td>
</tr>
<tr>
  <th scope="col">Cost</th>
  <td><%= train.cost %></td>
</tr>
